<ul id="social">
  <a class="social" target="_blank" href="https://www.facebook.com/EfraimLeoOfficial/">
    <i class="fa fa-facebook" aria-hidden="true"></i>
  </a>
  <a class="social" target="_blank" href="https://twitter.com/efraimleomusic">
    <i class="fa fa-twitter" aria-hidden="true"></i>
  </a>
  <a class="social" target="_blank" href="https://www.instagram.com/grndvw/">
    <i class="fa fa-instagram" aria-hidden="true"></i>
  </a>
  <a class="social" target="_blank" href="https://www.youtube.com/user/efraimleo">
    <i class="fa fa-youtube" aria-hidden="true"></i>
  </a>
  <a class="social" target="_blank" href="https://open.spotify.com/artist/3SwHW7YiRPiqokx3zCpyit?si=8KSHv2SmRMqIthITatKGCw">
    <i class="fa fa-spotify" aria-hidden="true"></i>
  </a>
</ul>
