<div id="media">
  <ul>
    <a class="social" target="_blank" href="https://www.facebook.com/GRNDVW/">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank" href="https://twitter.com/grndvw">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank" href="https://www.instagram.com/grndvw/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank">
      <i class="fa fa-spotify" aria-hidden="true"></i>
    </a>
  </ul>
  <div class="col-md-offset-2 col-md-4">
    <%= image_tag("EfraimArtwork.jpg")  %>
  </div>
  <div class="col-md-4" id="spotify">
    <iframe src="https://open.spotify.com/embed?uri=spotify:track:00zDYS7mdF0y7emh6Deqim" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
