<div id="media">
  <ul>
    <a class="social" target="_blank" href="https://www.facebook.com/GRNDVW/">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank" href="https://twitter.com/grndvw">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank" href="https://www.instagram.com/grndvw/">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank">
      <i class="fa fa-youtube" aria-hidden="true"></i>
    </a>
    <a class="social" target="_blank">
      <i class="fa fa-spotify" aria-hidden="true"></i>
    </a>
  </ul>
  <div class="col-md-offset-4 col-md-2 col-sm-4 col-xs-12">
    <%= image_tag("EfraimArtwork.jpg")  %>
    <%= link_to "Buy", "https://itunes.apple.com/us/album/you-got-me-wrong-feat-juliette-claire/1352067408?i=1352067416", class: "btn btn-link" %>
    <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fitunes.apple.com%2Fus%2Falbum%2Fyou-got-me-wrong-feat-juliette-claire%2F1352067408%3Fi%3D1352067416&text=Share%20Efraim%20Leo%27s%20Music" target="_blank" class="btn btn-link">Share</a>
  </div>
  <div class="col-md-3 col-sm-4 col-xs-11" id="spotify">
    <iframe src="https://open.spotify.com/embed?uri=spotify:track:00zDYS7mdF0y7emh6Deqim" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <h1>Available Now</h1>
    <ul>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-spotify" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-amazon" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-apple" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-soundcloud" aria-hidden="true"></i>
      </a>
    </ul>
  </div>
</div>
