<div id="media">
  <div class="col-md-12 col-sm-12 col-xs-11" id="spotify">
    <h1>"You Got Me Wrong"</h1>
    <h1>Available Now</h1>
    <ul>
      <a class="social" target="_blank" href="https://open.spotify.com/artist/3SwHW7YiRPiqokx3zCpyit?si=8KSHv2SmRMqIthITatKGCw">
        <i class="fa fa-spotify" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-amazon" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="#">
        <i class="fa fa-apple" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="https://www.youtube.com/user/efraimleo">
        <i class="fa fa-youtube" aria-hidden="true"></i>
      </a>
      <a class="social" target="_blank" href="https://soundcloud.com/efraim-leo">
        <i class="fa fa-soundcloud" aria-hidden="true"></i>
      </a>
    </ul>
  </div>
</div>
