<h1>Tour Dates</h1>
<table class='table borderless'>
  <tbody>
    <tr>
      <td class="col-1">Nov 11</td>
      <td class="col-1">Sun</td>
      <td class="col-2">Granada Theater</td>
      <td>Dallas, TX</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Dec 31</td>
      <td class="col-1">Sat</td>
      <td class="col-2">Granada Theater</td>
      <td>Dallas, TX</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 6</td>
      <td class="col-1">Sat</td>
      <td class="col-2">Music Fest'l</td>
      <td>Steamboat Springs, CO</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 7</td>
      <td class="col-1">Sun</td>
      <td class="col-2">Music Fest'l</td>
      <td>Steamboat Springs, CO</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 8</td>
      <td class="col-1">Mon</td>
      <td class="col-2">Music Fest'l</td>
      <td>Steamboat Springs, CO</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 21</td>
      <td class="col-1">Sun</td>
      <td class="col-2">Howlin Wolf</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 22</td>
      <td class="col-1">Mon</td>
      <td class="col-2">Outlaw Country Cruise</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 23</td>
      <td class="col-1">Tue</td>
      <td class="col-2">Outlaw Country Cruise</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 24</td>
      <td class="col-1">Wed</td>
      <td class="col-2">Outlaw Country Cruise</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 25</td>
      <td class="col-1">Thur</td>
      <td class="col-2">Outlaw Country Cruise</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
    <tr>
      <td class="col-1">Jan 26</td>
      <td class="col-1">Fri</td>
      <td class="col-2">Outlaw Country Cruise</td>
      <td>New Orleans, LA</td>
      <td class="col-3"><button>Tickets</button><button>RSVP</button></td>
    </tr>
  </tbody>
</table>
