<div id="about">
  <h1>About Efraim Leo</h1>
  <p>The world we are living in today is quite complex, "professes 20 year old,
    Efraim Leo. "I want to move people; make them feel emotions
    and to help them not feel like they are stuck," he proclaims</p>

  <p>With a penchant for introspective lyrical narrative for
    icy pop moldies that burn with a steady emotive urgency,
    Efraim Leo arrives with his new single, "You Got Me Wrong," via 300 Entertainment.
    A dazzling pop gem reminiscent of acts like Sawn Mendes or James Arthur,
    it's hard to believe that Efraim wasn't always so upbeat when it came to songwriting.
  </p>

  <p>
    First picking up a guitar when he was 13 years old, Efraim Leo arrived at songwriting status when he realised the poems he had been composing could double as lyrics.
    "I've always written stuff - whether it be lyrics or poems, but when I picked up the guitar I realized I could write songs," he explains.
  </p>

  <p>
    Always feeling like an outsider and heavily influenced by the rambling stylings of artists like Bob Dylan and the genre bending sound of Queen, Efraim was penning emotionally charged music about what he
    was encountering everyday as a teenager. "When I went to elementary school, I was bulled by a really mean guy and everyone in our class was super afraid of him,
    and no one could do anything about. I wrote about what effect this guy had on my life and how I felt about the situation."
  </p>

  <p>
    While his songwriting style has changed and he began to write lyrics that resembled
    hip hop prose, the pain didn't stop when he graduated to high school. Dealing with internal struggles
    within his family, with a sibling who suffered from depression, Efraim didn't have the energy for school work,
    but when he sat with his guitar, it was a different story.
  </p>

  <p>
    "I had a safe space - when I went to high school I struggled with depression, and I didn't feel like
    I was enough and it felt like everything I did was a waste of time. But when I sat with my guitar
    and just sang with those feelings in my mind or the words I was thinking about I felt like everything would be ok. I felt safe, like I was on top of the world."
  </p>

  <p>
    The Swedish singer songwriter hold an affinity for movies especially those by Christopher Noaln and his all time favourite, Pulp Fiction - he never finished high school, and poured his heart and soul into music instead.
  </p>

  <p>
    Efraim lent his vocals to fellow Swedish artist, MARC's track, "Show You The Light" which has since garnered over 13 million Spotify streams. A chance session with some visiting producers lead to his first solo hit, "You Got Me Wrong."
  </p>

  <p>
    "I think it was almost a year ago, and Juliette Claire and Clifford Gallio TK - came from Amsterdam and we weren't meant to do a session - they do mostly dance music. But they
    had a day off and so we just started writing, and we were focusing on my sound at the time. They had this idea that we could make a duet, and we just started writing and everything went so fast.
    I think we wrote the song and had a really good demo in less than 5 hours."
  </p>

  <p>
    It was "You Got Me Wrong," that sealed the deal with 300 Entertainment - "a few days after writing the song, we shed them the track and they went crazy. It was kind of like, that song is the song that made me end up here."
  </p>

  <p>
    With an infectious guitar riff and a slow burning bass line, "You Got Me Wrong" is an exuberant first taste of Efraim Leo that is just the first glimpse of what's to come.
  </p>

  <p>
    "I've always said that if I was ever able to ever have my music reach people, if I move people and get my lyrics out and people can relate to them,
    then that's where I've succeeded."
  </p>
</div>
