<section id="header-bg">
  <h1>Efraim Leo</h1>
  <%= render "social" %>
</section>
<section id="youtube-section">
  <div class="col-md-12">
    <iframe id="youtube" src="https://www.youtube.com/embed/nzKqmPTEdUg" frameborder="0" encrypted-media="allowfullscreen">
    </iframe>
  </div>
</section>
<section>
  <div class="col-md-offset-1 col-md-10">
    <%= render "tour" %>
  </div>
</section>
