@import "../base";
@font-face {
  font-family: "Coda Heavy";
  src: url('/assets/Coda-Heavy.ttf');
}

$font-1: Coda Heavy;

h1,
h2 {
  font-family: $font-1;
}

h1 {
  color: $color-1;
  text-align: center;
  text-transform: uppercase;
}
