@import "../base";
@font-face {
  font-family: "Gotham Black";
  src: url('/assets/GothamBlack.ttf');
}

$font-1: Gotham Black;

h1,
h2 {
  font-family: $font-1;
}

h1 {
  color: $color-1;
  text-align: center;
  text-transform: uppercase;
}
