.btn-link {
    width: 49%;
    margin-top: 3%;
    text-transform: uppercase;
    color: #ae8f8c;
    font-family: Gotham Black;
    background-color: crimson;
}

.col-3 {
  button {
    color: black;
    background-color: whitesmoke;
    margin-right: 5px;
  }
}
